SUPABASE_URL=coloque_a_url_aqui
SUPABASE_SERVICE_ROLE_KEY=coloque_a_service_role_key_aqui
SUPABASE_LEADS_TABLE=minicurso_inscricoes
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=contato@guitarramaster.com.br
SMTP_PASS=coloque_a_senha_smtp_aqui
SMTP_FROM_EMAIL=contato@guitarramaster.com.br
SMTP_FROM_NAME=Guitarra Master
